<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>frames</key><dict><key>default_pic.png</key><dict><key>frame</key><string>{{2,2},{1,1}}</string><key>offset</key><string>{-4.5,4.5}</string><key>rotated</key><false/><key>sourceColorRect</key><string>{{0,0},{1,1}}</string><key>sourceSize</key><string>{10,10}</string></dict></dict><key>metadata</key><dict><key>format</key><integer>2</integer><key>realTextureFileName</key><string>default.png</string><key>size</key><string>{8,8}</string><key>smartupdate</key><string>$TexturePacker:SmartUpdate:d1e1e2ab8722a3bcc7d181a7cf9dae0e$</string><key>textureFileName</key><string>default.png</string></dict></dict></plist>
